<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Apelido</th>
            <th scope="col">Celular</th>
            <th scope="col">Email</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Renata</td>
            <td>Chagas</td>
            <td>Naah</td>
            <td>(84)992080043</td>
            <td>naahcc@gmail.com</td>
            <td class="d-flex">              
            <button type="button" class="btn btn-outline-info p-2">Editar</button>
            <button type="button" class="btn btn-outline-danger p-2" style="margin-left: 10px">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>